    @import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    * {
        font-family: Atkinson Hyperlegible, sans-serif;
        font-weight: regular;
    }
    
    @media (prefers-color-scheme: dark) {
        body {
            color: white;
            background: rgb(0, 0, 0);
        }
    }
    
    @media (prefers-color-scheme: light) {
        body {
            color: rgb(0, 0, 0);
            background: rgb(255, 255, 255);
        }
    }
    /* Font */
    
    h1,
    h2,
    h3 {
        font-weight: bold;
    }
    
    h1 {
        text-align: center;
        font-size: 48px;
        margin-top: 50px;
        margin-bottom: 70px;
    }
    
    h2:not(.projectname) {
        font-size: 32px;
        margin-bottom: 20px;
        display: inline-block;
    }
    /* Navigation CSS */
    
    .navigation {
        text-align: center;
        margin-top: 40px;
    }
    
    ul {
        list-style-type: none;
        display: inline-block;
    }
    
    a {
        text-decoration: none;
        color: inherit !important;
    }
    
    a:hover .navitem {
        color: inherit;
        transform: scale(1.2);
    }
    
    li {
        padding: 14px 16px;
        text-decoration: none;
        display: inline;
    }
    /* Template CSS */
    
    .fluid-container:not(.Showreel) {
        border-top-style: solid;
        border-width: 3px;
    }
    
    #projects-container {
        margin-bottom: 150px;
    }
    
    #image {
        height: 60vh;
    }
    
    .buttons {
        margin-top: 10px;
    }
    
    .project-text {
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 0px;
    }