@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    font-family: Atkinson Hyperlegible, sans-serif;
    font-weight: regular;
}


/* set root size to 10 px */

div {
    outline: 1px solid red;
}

html {
    font-size: 62.5%;
}


/* Font */

h1,
h2,
h3 {
    font-weight: bold;
}

h2:not(.projectname):not(.about_me_name) {
    display: inline-block;
}


/* global button styles */

.btn {
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.9rem;
}

.buttons {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}


/* media queries for colors*/

@media (prefers-color-scheme: dark) {
    nav {
        background: black;
    }
    body {
        color: white;
        background: black;
    }
    .btn-primary {
        color: black;
        background: white;
        border: solid black;
    }
    .btn-primary:hover,
    .btn-secondary:hover {
        color: inherit;
        background: inherit;
        border: solid white;
    }
    .btn-secondary {
        color: white;
        background: black;
        border: solid black;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        padding: 2rem;
    }
}

@media (prefers-color-scheme: light) {
    nav {
        background: white;
    }
    body {
        color: black;
        background: white;
    }
    .btn-primary {
        color: white;
        background: black;
        border: solid white;
    }
    .btn-primary:hover,
    .btn-secondary:hover {
        color: inherit;
        background: inherit;
        border: solid black;
    }
    .btn-secondary {
        color: black;
        background: white;
        border: solid white;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        padding: 2rem;
    }
}


/* Large devices (laptops/desktops, 700px and up) */


/* MACBOOK IS HERE, factor is 1.3*/

h1 {
    text-align: center;
    font-size: 6.95rem;
    padding-bottom: 8.78rem;
}

h2 {
    font-size: 4.16rem;
    margin-bottom: 2.6rem;
}

header {
    position: absolute;
    width: 100%;
}


/* Header Navigation CSS */

.navbar {
    padding: 0px;
}

.navbar-nav {
    list-style-type: none;
    text-align: center;
    margin: auto;
}

.navbar-nav li {
    padding: 2rem;
}

.navbar-nav li a {
    text-decoration: none;
    color: inherit !important;
    font-size: 3.2rem;
    font-weight: bold;
}

.navbar-nav li .active {
    text-decoration: underline;
    transform: scale(1.3);
}

.navbar-nav li a:hover {
    transform: scale(1.3)
}

.logo {
    margin: 1rem;
    height: 8rem;
    width: 8rem;
}

.logo img {
    max-width: 100%;
    height: auto;
}


/* Showreel */

.showreel {
    height: 100vh;
}

#showreel_video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin: 0 auto;
    left: 0px;
    top: 0px;
    z-index: -1;
}


/* Template CSS */

.fluid-container:not(.showreel):not(footer) {
    border-top-style: solid;
    border-width: 0.3rem;
    padding-bottom: 14rem;
    padding-top: 6rem;
}

.grid {
    display: grid;
    align-content: start;
    grid-template-columns: repeat(auto-fit, minmax(min(40rem, 100%), 1fr));
    gap: 8rem;
    padding: 0 8rem 0 8rem;
}

.content {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0rem;
    display: grid;
}

.project-image {
    width: 100%;
}

#image {
    width: 100%;
    margin: 0 auto;
}


/* Footer CSS */

footer {
    padding-bottom: 0vh;
    border-top-style: solid;
    border-width: 0.3rem;
    padding-top: 6rem;
}

footer h1 {
    padding-bottom: 4.39rem;
}

.footer.row {
    text-align: center;
    position: relative;
    display: inline-block;
    left: 50%;
}

.footer-cta {
    display: flex;
    gap: 2vw;
    margin-top: auto;
    margin-bottom: auto;
}

.footer-cta a {
    text-decoration: none;
    color: inherit;
}


/* Footer nav */

.footer-nav {
    list-style-type: none;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

.footer-nav li {
    display: inline-block;
    padding: 2rem;
}

.footer-nav li a {
    text-decoration: none;
    color: inherit !important;
    font-size: 3.2rem;
    font-weight: bold;
}

.footer-nav li .active {
    text-decoration: underline;
    transform: scale(1.3);
}

.footer-nav li a:hover {
    transform: scale(1.3)
}


/* Text meant only for screen readers. */

.screenreader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}