@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    font-family: Atkinson Hyperlegible, sans-serif;
    font-weight: regular;
}


/* set root size to 10 px */

html {
    font-size: 62.5%;
    padding: 0;
}


/* Font */

h1,
h2,
h3 {
    font-weight: bold;
}

h2:not(.projectname):not(.about_me_name) {
    display: inline-block;
}


/* media queries */

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background: rgb(0, 0, 0);
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: rgb(0, 0, 0);
        background: rgb(255, 255, 255);
    }
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 60rem) {
    h1 {
        text-align: center;
        font-size: 3rem;
        padding-bottom: 4rem;
    }
    h2 {
        font-size: 1.89rem;
        margin-bottom: 1.18px;
    }
    /* Navigation CSS */
    .burger-menu-toggle {
        position: absolute;
        right: 1rem;
        top: 1rem;
        padding: 1rem;
        border: 0.2rem solid #fff;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        background: transparent;
        color: inherit;
        z-index: 3;
    }
    .nav {
        overflow: hidden;
        display: none;
        list-style-type: none;
        text-align: center;
    }
    .nav.is_active {
        width: 100%;
        display: block;
        position: absolute;
        top: 0rem;
        padding: 3rem;
        background: black;
        z-index: 2;
    }
    .nav li {
        display: block;
    }
    .nav li a {
        text-decoration: none;
        color: inherit !important;
        font-size: 3.2rem;
        font-weight: bold;
    }
    .nav li .active {
        text-decoration: underline;
        transform: scale(1.3);
    }
    .nav li a:hover {
        transform: scale(1.3)
    }
}


/* Medium devices (landscape tablets, 600px and up) */

@media only screen and (min-width: 60rem) {
    h1 {
        text-align: center;
        font-size: 5.07rem;
        padding-bottom: 6.76rem;
    }
    h2 {
        font-size: 3.2rem;
        margin-bottom: 2rem;
    }
    span {
        font-size: 1.9rem;
    }
    /* Navigation CSS */
    .burger-menu-toggle {
        position: absolute;
        right: 1rem;
        top: 1rem;
        padding: 1rem;
        border: 0.2rem solid #fff;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        background: transparent;
        color: inherit;
        z-index: 3;
    }
    .nav {
        overflow: hidden;
        display: none;
        list-style-type: none;
        text-align: center;
    }
    .nav.is_active {
        width: 100%;
        display: block;
        position: absolute;
        top: 0rem;
        padding: 3rem;
        background: black;
        z-index: 2;
    }
    .nav li {
        display: block;
    }
    .nav li a {
        text-decoration: none;
        color: inherit !important;
        font-size: 3.2rem;
        font-weight: bold;
    }
    .nav li .active {
        text-decoration: underline;
        transform: scale(1.3);
    }
    .nav li a:hover {
        transform: scale(1.3)
    }
}


/* Large devices (laptops/desktops, 700px and up) */


/* MACBOOK IS HERE, factor is 1.3*/

@media only screen and (min-width: 70rem) {
    h1 {
        text-align: center;
        font-size: 6.95rem;
        padding-bottom: 8.78rem;
    }
    h2 {
        font-size: 4.16rem;
        margin-bottom: 2.6rem;
    }
    header {
        position: absolute;
        width: 100%;
    }
    /* Navigation CSS */
    .navbar {
        padding-left: 1.2rem;
    }
    .nav {
        overflow: hidden;
        display: inline-block;
        list-style-type: none;
        text-align: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .nav li {
        display: inline-block;
        padding: 2rem;
    }
    .nav li a {
        text-decoration: none;
        color: inherit !important;
        font-size: 3.2rem;
        font-weight: bold;
    }
    .nav li .active {
        text-decoration: underline;
        transform: scale(1.3);
    }
    .nav li a:hover {
        transform: scale(1.3)
    }
    .burger-menu-toggle {
        display: none;
    }
    /* Showreel */
    .showreel {
        height: 100vh;
    }
    .showreel img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* Template CSS */
    .fluid-container:not(.showreel) {
        border-top-style: solid;
        border-width: 0.3rem;
        padding-bottom: 14rem;
        padding-top: 6rem;
    }
    #image {
        height: 60vh;
    }
    .buttons {
        margin-top: 1rem;
    }
    .btn {
        font-size: 1.9rem;
    }
    .project-text {
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 0rem;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 120rem) {
    h1 {
        text-align: center;
        font-size: 8.57rem;
        padding-bottom: 11.42rem;
    }
    h2 {
        font-size: 5.4rem;
        margin-bottom: 3.38;
    }
    /* Navigation CSS */
    .navbar {
        padding-left: 1.2rem;
    }
    .nav {
        margin: auto;
        overflow: hidden;
        display: inline-block;
        list-style-type: none;
        text-align: center;
    }
    .nav li {
        display: inline-block;
        padding: 2rem;
    }
    .nav li a {
        text-decoration: none;
        color: inherit !important;
        font-size: 3.2rem;
        font-weight: bold;
    }
    .nav li .active {
        text-decoration: underline;
        transform: scale(1.3);
    }
    .nav li a:hover {
        transform: scale(1.3)
    }
    .burger-menu-toggle {
        display: none;
    }
}


/* Text meant only for screen readers. */

.screenreader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}